# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Database
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Secrets
*.pem
*.key

# Flutter build
route_app_frontend/build/
route_app_frontend/.dart_tool/
route_app_frontend/.packages
route_app_frontend/.metadata

# Alembic
alembic/versions/*.pyc
